<!DOCTYPE html>
<html>

<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=email_r&client_id=6xhwtnjudbrqsjpocccu6dvx&state=y0zg9s&code_challenge=U-Ny1yDoWbixUv_KCmxbbd_d8HpETFYxWO4SBAq7ia0&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>

</html>